body {
  font-family: 'Inter', system-ui, sans-serif;
}

body > .dynamsoft-dialog-wrap .ds-dwt-loaderBar {
  display: none !important;
}

body > .dynamsoft-dialog-wrap .ds-dwt-loaderBar > img {
  display: none !important;
}
