<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site1.master.vb" Inherits="GestionDocumental_Docuarchi.net.Site1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Gestor Documental Docuarchi.net</title>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
	<link href="menu_scoope/assets/css/font-awesome.min.css" rel="stylesheet"> 
    <link href="menu_scoope/assets/css/linearicons.css" rel="stylesheet">   
	<link href="menu_scoope/assets/css/simple-line-icons.css" rel="stylesheet">
	<link href="menu_scoope/assets/css/ionicons.css" rel="stylesheet">
	<link href="menu_scoope/assets/css/flag-icon.min.css" rel="stylesheet">
	<link href="menu_scoope/assets/css/fakeLoader.css" rel="stylesheet">
	<link href="menu_scoope/assets/css/bootstrap.min.css" rel="stylesheet">  
     <link href="Styles/bootra-person.css" rel="stylesheet" />  
	<script src="menu_scoope/assets/js/jquery.1.11.3.min.js"></script>
	<script src="menu_scoope/assets/js/bootstrap.min.js"></script>	
    <link href="Styles/Aplicaction.css" rel="stylesheet" /> 
    <script src="js/ui/jquery-ui-1.8.22.custom.js" type="text/javascript"></script>
   <script src="js/ui/jquery.ui.core.js" type="text/javascript"></script>
    <link href="ccs/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="~/Styles/style.css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
     <div id="fakeLoader"></div>
    <div id="scoop" class="scoop" >
        <div class="scoop-overlay-box"></div>
        <div class="scoop-container" >
            <header class="scoop-header " style="display:none" id="id_scoop_header" header-theme="theme2">
                <div class="scoop-wrapper">
                    <div class="scoop-left-header">
                        <div class="scoop-logo pt-0">
                            <span class="logo-icon" style="bottom:-10px"><i class="ion-stats-bars"></i></span>
                            <span class="logo-text"><span class="hide-in-smallsize"></span></span>
                        </div>
                    </div>
                    <div class="scoop-right-header">
                        <div class="sidebar_toggle" style="display:none"><a href="javascript:void(0)"><i class="icon-menu"></i></a></div>
                        <div class="scoop-rl-header" style="display: none">
                            <ul>
                                <li class="icons">
                                    <a href="javascript:void(0)"><i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span class="scoop-badge badge-success">2</span>
                                    </a>
                                </li>
                                <li class="icons">
                                    <a href="javascript:void(0)"><i class="fa fa-bell" aria-hidden="true"></i>
                                        <span class="scoop-badge badge-danger">8</span>
                                    </a>
                                </li>
                                <li class="icons">
                                    <a href="javascript:void(0)"><i class="fa fa-tasks" aria-hidden="true"></i>
                                        <span class="scoop-badge badge-warning">8</span>
                                    </a>
                                </li>
                                <li class="icons hide-small-device">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-rss" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="scoop-rr-header">
                           
                        </div>
                    </div>
                </div>
            </header>
            <div class="scoop-main-container_"  style="background-color:white; margin-top: 0px">
                <asp:ContentPlaceHolder ID="ContentPlacenter" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <script src="menu_scoope/assets/js/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="menu_scoope/assets/js/lib/jquery.mousewheel.min.js"></script>   
    <link href="menu_scoope/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <script src="menu_scoope/assets/js/lib/sparkline.min.js"></script>
    <script src="menu_scoope/assets/js/scoop.min.js"></script>
    <link href="menu_scoope/assets/css/scoop-vertical.css" rel="stylesheet">
    <script src="menu_scoope/assets/js/vertical-demo.js"></script>
</body>
</html>

