<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OdbcServices" connectionString="DSN=MembershipUsers;" />
    <add name="OdbcServicesGestor" connectionString="DSN=MembershipUsers;" />
    <add name="MyDbContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;user id=root;password=tu_password;database=tu_base;" />
  </connectionStrings>
 
  <appSettings>
    <add key="ImageDraw50LicenseOwner" value="Miguel Ángel Miranda-Urueta licencia de desarrollador" />
    <add key="ImageDraw50LicenseKey" value="28Q48MH26VEUUW84A4FH9YV8Q33LJ7PC6WF84EZF3AMC93SVP2FQ" />
    <!-- Las subcapas visuales se aplican solo cuando el gate operativo habilita el contexto Workflow. -->
    <add key="WorkflowCentroTrabajoModernLayers" value="layout,actions,documents,a11y" />
    <!-- DOC-10: el ASMX de preview permanece cerrado hasta autorizar expresamente un piloto. -->
    <add key="WorkflowCentroTrabajoModernActive" value="false" />
    <add key="WorkflowCentroTrabajoModernOfficialMode" value="false" />
    <add key="WorkflowCentroTrabajoModernUsers" value="" />
    <add key="WorkflowCentroTrabajoModernGroups" value="" />
    <add key="WorkflowCentroTrabajoModernExcludedUsers" value="" />
    <add key="WorkflowCentroTrabajoModernExcludedGroups" value="" />
    <add key="WorkflowCentroTrabajoModernPilotStartUtc" value="2026-08-18T21:15:06Z" />
    <add key="WorkflowCentroTrabajoModernPilotOwner" value="operacion" />
    <add key="WorkflowCentroTrabajoModernPilotReason" value="habilitacion-oficial" />
    <add key="WorkflowCentroTrabajoModernRollbackUtc" value="" />
    <add key="WorkflowCentroTrabajoModernRollbackOwner" value="" />
    <add key="WorkflowCentroTrabajoModernRollbackReason" value="" />
    <add key="WorkflowCentroTrabajoModernRollbackCorrelation" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" executionTimeout="3000000" maxRequestLength="102400000" />
    <authentication mode="Forms">
      <forms loginUrl="gestor.aspx" defaultUrl="~/Defaul/WebFormInicioDocuarchiGestion.aspx" />
    </authentication>
    <sessionState cookieless="UseDeviceProfile" mode="InProc" timeout="10" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
      <controls>
        <add assembly="Neodynamic.WebControls.ImageDraw, Version=5.0.2000.0, Culture=neutral, PublicKeyToken=49ea6b0547247dc5" namespace="Neodynamic.WebControls.ImageDraw" tagPrefix="neoimg" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="gestor.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,AjaxControlToolkit" />
      <add name="Neodynamic" verb="*" path="ImageGenerator.axd" type="Neodynamic.WebControls.ImageDraw.ImageDraw, Neodynamic.WebControls.ImageDraw" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="OPTIONS, POST, GET, PUT" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Aquí van tus bindingRedirects existentes -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.3.0" newVersion="6.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Loader" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      
    </providers>
  </entityFramework>
</configuration>
