body {
}
.file-select {
    position: relative;
    display: inline-block;
}

    .file-select::before {
        background-color: #5678EF;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        content: 'Seleccionar'; /* testo por defecto */
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .file-select input[type="file"] {
        opacity: 0;
        width: 100px;
        height: 40px;
        display: inline-block;
    }
.file-select-bar {
    width: 0%;
    height: 15px;
    background-color: #7098DD;
    border-radius: 10px 10px 10px 10px;
}
.background_upload {
    background-image: url("..//imagera/descarga.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    
