*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(Imagen/inicio\ sesion.png) no-repeat;
    background-position: center;
    background-size: cover;
}



.olvidecontraseña{
    width: 300px;
    padding: 60px;
    margin: auto;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.685);
    border: none;
}

h2{
    font-size: 1rem;
    text-align: center;
}



h1{
    font-size: 20px;
    text-align: left;
    padding: 10px 5px;
    color: white;
}

.email input{
    width: 95%;
    left: 40%;
    border: none;
    background: none;
    border-bottom: solid white 2px;
    padding: 8px;
    outline: none;
    background-color: transparent;
    margin-bottom: 30px;
    color: white;
}

.email i{
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.479);
    font-size: 1.6rem;
    left: 79%;
}

.botones{
    display: flex;
    justify-content: space-between;
}

.atras{
    cursor: pointer;
    text-decoration: none;
    background: black;
    padding: 10px;
    color: white;
    border-radius: 15px;
    transition: .6s;
}

.atras:hover {
    cursor: pointer;
    text-decoration: none;
    background: #346CC3;
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.send{
    cursor: pointer;
    text-decoration: none;
    background:  #346CC3;
    padding: 10px;
    color: white;
    border-radius: 15px;
    border: none;
    transition: .6s;
}

.send:hover {
    cursor: pointer;
    text-decoration: none;
    background:  black;
    padding: 10px;
    color: white;
    border-radius: 15px;
    border: none;
}