.trigger {
  display: inline-flex;
}

.triggerDisabled {
  cursor: not-allowed;
}

.itemLabel {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.itemIcon {
  display: inline-flex;
  align-items: center;
  color: currentColor;
}
