.header {
  position: sticky!important;
  margin-left:  10px;
  margin-right: 10px;
  margin-top: 5px;
  height: 59px;

  background: white;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  z-index: 100;
  box-shadow:
    0 8px 15px rgba(190, 190, 190, 0.35);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.trigger {
  color: black;
  font-size: 18px;
}

.trigger:hover {
  background-color: #1677ff !important;
  color: white !important;
  border-radius: 9px;
  transform: translateY(-2px);
}

.profile {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background 0.2s;
  transition: all 0.2s ease !important;
}

.profile:hover{
  transform: translateY(-2px);
}



.username {
  color: black !important;
  font-size: 16px;
  text-transform: capitalize;
}
