body {
}
.navbar {
    overflow: hidden;
    background-color: #053061;
    font-family: Arial;
    margin-bottom:2px;
   
}
.navbar_gray {
    overflow: hidden;
    background-color: #F2F2F2;
    font-family: Arial;
    margin-bottom:2px;
    width:100%;
    border: 1px solid #ccc;
    padding:2px;
    
  
}
.navbar_gray a {
    float: left;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
     
}
.navbar_gray a:hover, .dropdown_gray :hover .dropbtn_gray:hover .dropdown_sub_gray:hover{
    background-color: #BDBDBD;
    font-weight:400;
    /*color:black;*/
}
.dropdown_gray {
    float: left;
    overflow: hidden;
    font-size: 13px;
    margin-top:0px;   
}
.dropdown__gray {
    float: left;
    overflow: hidden;
    font-size: 13px;
    margin-top:0px;   
}
.dropdown_sub_gray {
    float: left;
    overflow: hidden;
    font-size: 13px;
    margin-top:0px; 
    cursor:pointer; 
}
.dropbtn_gray {
    font-size: 13px;   
    border: none !important;
    outline: none;
    background-color: #F2F2F2;
    font: inherit;
    margin: 0;
    font-family:Arial;
    cursor:pointer;
    font-weight:400;
    /*text-transform:uppercase; */
    border-right: 1px solid white;
    margin-top:5px;
    margin-bottom:5px;   
    padding-right:15px;
    padding-left:15px;
    color:black;
}
.dropbtn_sub_gray {
     background-color: #F2F2F2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width:240px;
    max-width:240px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size:13px;
    font-weight:300;
    color:black;
    padding-right:0px;
     border: none;
    outline: none;
   padding: 6px 6px;
   text-decoration: none;
   width:100%;
}


.dropbtn_sub_gray:hover {
    background-color: #BDBDBD;
    font-weight:400;
    width:100%;
}
.dropdown-content_gray {
    display: none;
    position: absolute;
    background-color: #F2F2F2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width:240px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size:14px;
    font-weight:300;
    /*color:black;*/
    padding-right:0px;
}
.dropdown-content_sub_gray {
    display: none;
    position:absolute;
    background-color: #F2F2F2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width:240px;
    border: 1px solid #ccc;
    font-family: Arial;
    font-size:14px;
    font-weight:300;
    color:black;
    padding-right:0px;
    float:right;
}
.dropdown-content_gray a {
    float: none;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    color:black;
    
}
.dropdown-content_sub_gray a {
    float:none;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    /*color:black;*/
    
}

.dropdown_gray:hover .dropdown-content_gray    {
    display: block;
    clear:both;
}

.dropdown_sub_gray:hover .dropdown-content_sub_gray {
    display: block;
    float:right;
    margin-left:50%;
}
.navbar a {
    float: left;
    font-size: 13px;
    color: black;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
     
}

.dropdown__ {
    float: left;
    overflow: hidden;
    color: black;
    font-size: 13px;
    margin-top:0px;
}

.dropdown__ .dropbtn {
    font-size: 13px;    
    border: none;
    outline: none;
    color:black;
    padding: 6px 6px;
    background-color: #F2F2F2;
    font: inherit;
    margin: 0;
    
}
.dropbtn_ {
    font-size: 13px;    
    border: none;
    outline: none;
    color:black;
    padding: 6px 6px;
    background-color: #053061;
    font: inherit;
    margin: 0;
     margin-top:1px;
}
.navbar a:hover, .dropdown__:hover .dropbtn {
    background-color: red;
}
.navbar a:hover, .dropdown__:hover .dropbtn_ {
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown_:hover .dropdown-content {
    display: block;
}
.aclas {
     font-size: 13px;    
    border: none;
    outline: none;
    color: black;
    padding: 8px 8px;
    background-color: #053061;
    font: inherit;
    margin: 0;
    margin-top:5px;
}