.staticMenuItemStyle {
text-align:center;
display:block;
padding-left:2px;
padding-right:2px;
margin-left:2px;
}
.dynamic {
    
    border-bottom: 1px solid #ccc;
    
    
}
.level2 dynamic {
    
}
.staticMenuItemSelectedStyle {
border:solid 1px #000;
}

.staticHoverStyle {
/*background-image:url(../Images/bg-black.gif);*/
}

.menuItem {
display:block;

}

.dynamicMenuItemStyle {
border:solid 1px #000;
background-color:Silver;
color:Red;
z-index:200;
position:relative;
}

.background {
border:solid 1px #000;
/*background-image:url(../Images/bg-black.gif);*/
}

.NavigationMenu {
font-family:Arial;
font-size:16pt;
color:black;
font-weight:600;
z-index:101;
/*background-image:url(../Images/bg-black.gif);*/
}

#h {
background:#CCCFFF;
padding:5px 0 6px 10px;
}

#e {
border:solid 1px #919191;
background-image:url(../Images/sub.gif);
padding:0 0 1px;
}

.menuItemMouseOver,.menuItemSelected {
border:solid 1px Navy;
/*background-image:url(../Images/bg-black.gif);*/
}

.NavigationMenu A:link,.NavigationMenu A:visited,.NavigationMenu A:active {
text-decoration:none;
color: #FFF;
display:block;
}

.currentNodeStyle,.nodeStyle,.rootNodeStyle,a.siteMapPath {
text-decoration:none;
font-family:Arial;
font-size:16pt;
}
.Menu_
{  
	background:#053061;
    text-align:center;
    font-size:11px;
     background: linear-gradient(0deg,  #053061, #11519b ); 
    
}
.Menu
{  
	background:#7a9cc7;
    text-align:center;
    font-size:11px;
    border: solid 1px #ccc;
    font-weight:800;
}
.Menu_gray
{  
	background-color:#F5F5F5;
    text-align:center;
    font-size:11px;
    border: solid 1px #ccc;
    font-weight:800;
}
.menuhover_gray
{
	color:#fff;
    background:transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;
    font-weight:100;
 }
.staticMenuItemSelectedStyle_gray {
border:solid 0px #F5F5F5;
}
.menuItemMouseOver_gray,.menuItemSelected_gray {
border:solid 0px Navy;
/*background-image:url(../Images/bg-black.gif);*/
}
.Menu_item {
    text-align:left;
    font-size:6px;
    font-family:Arial;
    color:black;
    padding-right:70px;
    padding-top:2px;
    padding-left:5px;
    padding-bottom:5px;
    background-color:white;
    
}
.menuhover
{
	color:#fff;background:transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;
    font-weight:100;
 }
.menuhover_
{
   
	font-weight:700;
    background-color:white;
    
 }
.menuItemSelected_ {
    background-color:LightBlue;
    border-style:Solid;
    border-color:Black;
    border-width:1px;
}
