body {
}
/* CSS general para el TooltipDaGestor */
.tooltipDaGestor-container {
    position: relative;
    display: inline-block;
    font-family: 'Arial', sans-serif;
}

.tooltipDaGestor-icon {
    display: inline-block;
    padding: 12px;
    background-color: #007bff;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    user-select: none;
}

    .tooltipDaGestor-icon i {
        display: block;
        margin: 0;
    }

    .tooltipDaGestor-icon:hover {
        background-color: #0056b3;
        transform: scale(1.15);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    }

.tooltipDaGestor {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
    transform: translateY(10px);
}

    .tooltipDaGestor.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .tooltipDaGestor::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
    }
